body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #282c34;
}

.question-page h1 {
  color: white;
}
.question-page h2 {
  color: rgb(178, 174, 174);
}

.question-page select {
  margin-left: 5pt;
  margin-right: 5pt;
  font-size: 24pt;
  background-color: #282c34;
  border: #282c34;
  color: white;
  font-weight: 500;
  text-decoration: underline;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.header h3 {
  color: black;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.doneQ h2 {
  color: white;
}
